* {
    padding: 2%;
    background-color: #191919;
    color: #9EB8D9;
}

.bandas__cartao {
    border: 2px solid #5B8FB9;
    display: inline-block;
    width: 15rem;
    height: 22rem;
    text-align: center;
    margin: 0.5rem;
    overflow: hidden;
    box-shadow: 10px 10px 5px 0px #7C93C3;
    transition: transform 3s;
    font-size: 1.5rem;
}

.bandas__cartao:hover img {
    transform: scale(1.06);
}

img {
    width: 12rem;
    height: 12rem;
}